<h2>Score: {{score}}</h2>

<div class = "image-holder" style="height:300px">
  <img class = "image" alt="Who is it?" src="assets/{{question.image.filename}}" />
</div>

<div>  
  <span *ngFor="let answer of question.answers">
    <button class="btn-answer" (click)="check(answer.id, question.image.id)">{{answer.name}}</button> 
  </span>
</div>

<div>
  <button [routerLink]="['/level2']" *ngIf="this.score > 3" >Advance to level2!</button>
</div>
