<h2>Score: {{score}}</h2>

<div *ngIf="this.score <= this.max">

    <span class = "image-holder" *ngFor="let answer of question.answers">
    
      <button class="btn-answer" (click)="check(answer.id, question.question.id)">
            <img class = "image" alt="Who is it?" src="assets/{{answer.name}}" />
      </button> 
    </span>
    
    <div>  
        <p>{{question.question.name}}</p>
    </div>
</div>
<div style="font-size:80px;" *ngIf="this.score > this.max" >Dupaka paradox!
  <img src="https://media.tenor.com/images/430c56ecfaedc0cb02275e6ed28ae0d4/tenor.gif"/>
</div>
